<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>roots</key>
	<array>
		<dict>
			<key>fc</key>
			<string>A</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>355</string>
					<key>en</key>
					<string>Albania</string>
					<key>zh</key>
					<string>阿尔巴尼亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>213</string>
					<key>en</key>
					<string>Algeria</string>
					<key>zh</key>
					<string>阿尔及利亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>93</string>
					<key>en</key>
					<string>Afghanistan</string>
					<key>zh</key>
					<string>阿富汗</string>
				</dict>
				<dict>
					<key>code</key>
					<string>54</string>
					<key>en</key>
					<string>Argentina</string>
					<key>zh</key>
					<string>阿根廷</string>
				</dict>
				<dict>
					<key>code</key>
					<string>971</string>
					<key>en</key>
					<string>The United Arab Emirates</string>
					<key>zh</key>
					<string>阿拉伯联合酋长国</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1907</string>
					<key>en</key>
					<string>Alaska</string>
					<key>zh</key>
					<string>阿拉斯加(美)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>297</string>
					<key>en</key>
					<string>Aruba Island</string>
					<key>zh</key>
					<string>阿鲁巴岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>968</string>
					<key>en</key>
					<string>Oman</string>
					<key>zh</key>
					<string>阿曼</string>
				</dict>
				<dict>
					<key>code</key>
					<string>994</string>
					<key>en</key>
					<string>Azerbaijan</string>
					<key>zh</key>
					<string>阿塞拜疆</string>
				</dict>
				<dict>
					<key>code</key>
					<string>247</string>
					<key>en</key>
					<string>Ascension</string>
					<key>zh</key>
					<string>阿森松(英)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>353</string>
					<key>en</key>
					<string>Ireland</string>
					<key>zh</key>
					<string>爱尔兰</string>
				</dict>
				<dict>
					<key>code</key>
					<string>20</string>
					<key>en</key>
					<string>Egypt</string>
					<key>zh</key>
					<string>埃及</string>
				</dict>
				<dict>
					<key>code</key>
					<string>251</string>
					<key>en</key>
					<string>Ethiopia</string>
					<key>zh</key>
					<string>埃塞俄比亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>372</string>
					<key>en</key>
					<string>Estonia</string>
					<key>zh</key>
					<string>爱沙尼亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>376</string>
					<key>en</key>
					<string>Andorra</string>
					<key>zh</key>
					<string>安道尔</string>
				</dict>
				<dict>
					<key>code</key>
					<string>244</string>
					<key>en</key>
					<string>Angola</string>
					<key>zh</key>
					<string>安哥拉</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1264</string>
					<key>en</key>
					<string>Anguilla Island</string>
					<key>zh</key>
					<string>安圭拉岛(英)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1268</string>
					<key>en</key>
					<string>Antigua Barbuda</string>
					<key>zh</key>
					<string>安提瓜和巴布达</string>
				</dict>
				<dict>
					<key>code</key>
					<string>61</string>
					<key>en</key>
					<string>Australia</string>
					<key>zh</key>
					<string>澳大利亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>43</string>
					<key>en</key>
					<string>Austria</string>
					<key>zh</key>
					<string>奥地利</string>
				</dict>
				<dict>
					<key>code</key>
					<string>853</string>
					<key>en</key>
					<string>Macau</string>
					<key>zh</key>
					<string>澳门</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>B</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>1246</string>
					<key>en</key>
					<string>Barbados</string>
					<key>zh</key>
					<string>巴巴多斯</string>
				</dict>
				<dict>
					<key>code</key>
					<string>675</string>
					<key>en</key>
					<string>Papua New Guinea</string>
					<key>zh</key>
					<string>巴布亚新几内亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1242</string>
					<key>en</key>
					<string>Bahamas</string>
					<key>zh</key>
					<string>巴哈马</string>
				</dict>
				<dict>
					<key>code</key>
					<string>92</string>
					<key>en</key>
					<string>Pakistan</string>
					<key>zh</key>
					<string>巴基斯坦</string>
				</dict>
				<dict>
					<key>code</key>
					<string>595</string>
					<key>en</key>
					<string>Paraguay</string>
					<key>zh</key>
					<string>巴拉圭</string>
				</dict>
				<dict>
					<key>code</key>
					<string>973</string>
					<key>en</key>
					<string>Bahrain</string>
					<key>zh</key>
					<string>巴林</string>
				</dict>
				<dict>
					<key>code</key>
					<string>507</string>
					<key>en</key>
					<string>Panama</string>
					<key>zh</key>
					<string>巴拿马</string>
				</dict>
				<dict>
					<key>code</key>
					<string>55</string>
					<key>en</key>
					<string>Brazil</string>
					<key>zh</key>
					<string>巴西</string>
				</dict>
				<dict>
					<key>code</key>
					<string>375</string>
					<key>en</key>
					<string>Belarus</string>
					<key>zh</key>
					<string>白俄罗斯</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1441</string>
					<key>en</key>
					<string>Bermuda Island</string>
					<key>zh</key>
					<string>百慕大群岛(英)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>359</string>
					<key>en</key>
					<string>Bulgaria</string>
					<key>zh</key>
					<string>保加利亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>229</string>
					<key>en</key>
					<string>Benin</string>
					<key>zh</key>
					<string>贝宁</string>
				</dict>
				<dict>
					<key>code</key>
					<string>32</string>
					<key>en</key>
					<string>Belgium</string>
					<key>zh</key>
					<string>比利时</string>
				</dict>
				<dict>
					<key>code</key>
					<string>354</string>
					<key>en</key>
					<string>Iceland</string>
					<key>zh</key>
					<string>冰岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>267</string>
					<key>en</key>
					<string>Botswana</string>
					<key>zh</key>
					<string>博茨瓦纳</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1787</string>
					<key>en</key>
					<string>Puerto Rico</string>
					<key>zh</key>
					<string>波多黎各(美)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>387</string>
					<key>en</key>
					<string>Bosnia Herzegovina</string>
					<key>zh</key>
					<string>波黑</string>
				</dict>
				<dict>
					<key>code</key>
					<string>48</string>
					<key>en</key>
					<string>Poland</string>
					<key>zh</key>
					<string>波兰</string>
				</dict>
				<dict>
					<key>code</key>
					<string>591</string>
					<key>en</key>
					<string>Bolivia</string>
					<key>zh</key>
					<string>波利维亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>501</string>
					<key>en</key>
					<string>Belize</string>
					<key>zh</key>
					<string>伯利兹</string>
				</dict>
				<dict>
					<key>code</key>
					<string>975</string>
					<key>en</key>
					<string>Bhutan</string>
					<key>zh</key>
					<string>不丹</string>
				</dict>
				<dict>
					<key>code</key>
					<string>226</string>
					<key>en</key>
					<string>Burkinafaso</string>
					<key>zh</key>
					<string>布基纳法索</string>
				</dict>
				<dict>
					<key>code</key>
					<string>257</string>
					<key>en</key>
					<string>Burundi</string>
					<key>zh</key>
					<string>布隆迪</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>C</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>850</string>
					<key>en</key>
					<string>North Korea</string>
					<key>zh</key>
					<string>朝鲜</string>
				</dict>
				<dict>
					<key>code</key>
					<string>240</string>
					<key>en</key>
					<string>Equatorial Guinea</string>
					<key>zh</key>
					<string>赤道几内亚</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>D</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>45</string>
					<key>en</key>
					<string>Denmark</string>
					<key>zh</key>
					<string>丹麦</string>
				</dict>
				<dict>
					<key>code</key>
					<string>49</string>
					<key>en</key>
					<string>Germany</string>
					<key>zh</key>
					<string>德国</string>
				</dict>
				<dict>
					<key>code</key>
					<string>246</string>
					<key>en</key>
					<string>Diego Garcia Island</string>
					<key>zh</key>
					<string>迪戈加西亚岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>684</string>
					<key>en</key>
					<string>Sanoa Eastern</string>
					<key>zh</key>
					<string>东萨摩亚(美)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>228</string>
					<key>en</key>
					<string>Togo</string>
					<key>zh</key>
					<string>多哥</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1809</string>
					<key>en</key>
					<string>Dominican Republic</string>
					<key>zh</key>
					<string>多米尼加共和国</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1767</string>
					<key>en</key>
					<string>Dominique</string>
					<key>zh</key>
					<string>多米尼克</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>E</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>593</string>
					<key>en</key>
					<string>Ecuador</string>
					<key>zh</key>
					<string>厄瓜多尔</string>
				</dict>
				<dict>
					<key>code</key>
					<string>291</string>
					<key>en</key>
					<string>Eritrea</string>
					<key>zh</key>
					<string>厄立特里亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>7</string>
					<key>en</key>
					<string>Russia</string>
					<key>zh</key>
					<string>俄罗斯</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>F</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>33</string>
					<key>en</key>
					<string>France</string>
					<key>zh</key>
					<string>法国</string>
				</dict>
				<dict>
					<key>code</key>
					<string>298</string>
					<key>en</key>
					<string>Faroe Island</string>
					<key>zh</key>
					<string>法罗群岛(丹麦)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>689</string>
					<key>en</key>
					<string>French Polynesia</string>
					<key>zh</key>
					<string>法属波里尼西亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>594</string>
					<key>en</key>
					<string>French Guiana</string>
					<key>zh</key>
					<string>法属圭亚那</string>
				</dict>
				<dict>
					<key>code</key>
					<string>3906698</string>
					<key>en</key>
					<string>Vatican</string>
					<key>zh</key>
					<string>梵蒂冈</string>
				</dict>
				<dict>
					<key>code</key>
					<string>63</string>
					<key>en</key>
					<string>Philippines</string>
					<key>zh</key>
					<string>菲律宾</string>
				</dict>
				<dict>
					<key>code</key>
					<string>358</string>
					<key>en</key>
					<string>Finland</string>
					<key>zh</key>
					<string>芬兰</string>
				</dict>
				<dict>
					<key>code</key>
					<string>238</string>
					<key>en</key>
					<string>Cape Verde</string>
					<key>zh</key>
					<string>佛得角</string>
				</dict>
				<dict>
					<key>code</key>
					<string>500</string>
					<key>en</key>
					<string>Falkland Island</string>
					<key>zh</key>
					<string>福克兰群岛</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>G</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>220</string>
					<key>en</key>
					<string>Gambia</string>
					<key>zh</key>
					<string>冈比亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>242</string>
					<key>en</key>
					<string>Congo</string>
					<key>zh</key>
					<string>刚果</string>
				</dict>
				<dict>
					<key>code</key>
					<string>299</string>
					<key>en</key>
					<string>Greenland Island</string>
					<key>zh</key>
					<string>格陵兰岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>995</string>
					<key>en</key>
					<string>Georigia</string>
					<key>zh</key>
					<string>格鲁吉亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>57</string>
					<key>en</key>
					<string>Colombia</string>
					<key>zh</key>
					<string>哥伦比亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>506</string>
					<key>en</key>
					<string>Costa Rica</string>
					<key>zh</key>
					<string>哥斯达黎加</string>
				</dict>
				<dict>
					<key>code</key>
					<string>53</string>
					<key>en</key>
					<string>Cuba</string>
					<key>zh</key>
					<string>古巴</string>
				</dict>
				<dict>
					<key>code</key>
					<string>590</string>
					<key>en</key>
					<string>Guadeloupe Island</string>
					<key>zh</key>
					<string>瓜得罗普岛(法)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1671</string>
					<key>en</key>
					<string>Guam</string>
					<key>zh</key>
					<string>关岛(美)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>592</string>
					<key>en</key>
					<string>Guyana</string>
					<key>zh</key>
					<string>圭亚那</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>H</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>7</string>
					<key>en</key>
					<string>Kazakhastan</string>
					<key>zh</key>
					<string>哈萨克斯坦</string>
				</dict>
				<dict>
					<key>code</key>
					<string>509</string>
					<key>en</key>
					<string>Haiti</string>
					<key>zh</key>
					<string>海地</string>
				</dict>
				<dict>
					<key>code</key>
					<string>82</string>
					<key>en</key>
					<string>Korea</string>
					<key>zh</key>
					<string>韩国</string>
				</dict>
				<dict>
					<key>code</key>
					<string>31</string>
					<key>en</key>
					<string>Netherlands</string>
					<key>zh</key>
					<string>荷兰</string>
				</dict>
				<dict>
					<key>code</key>
					<string>599</string>
					<key>en</key>
					<string>Netherlands Antilles Is</string>
					<key>zh</key>
					<string>荷属安的列斯群岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>504</string>
					<key>en</key>
					<string>Honduras</string>
					<key>zh</key>
					<string>洪都拉斯</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>J</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>253</string>
					<key>en</key>
					<string>Djibouti</string>
					<key>zh</key>
					<string>吉布提</string>
				</dict>
				<dict>
					<key>code</key>
					<string>996</string>
					<key>en</key>
					<string>Kyrgyzstan</string>
					<key>zh</key>
					<string>吉尔吉斯斯坦</string>
				</dict>
				<dict>
					<key>code</key>
					<string>686</string>
					<key>en</key>
					<string>Kiribati</string>
					<key>zh</key>
					<string>基里巴斯</string>
				</dict>
				<dict>
					<key>code</key>
					<string>224</string>
					<key>en</key>
					<string>Guinea</string>
					<key>zh</key>
					<string>几内亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>245</string>
					<key>en</key>
					<string>Guinea-Bissau</string>
					<key>zh</key>
					<string>几内亚比绍</string>
				</dict>
				<dict>
					<key>code</key>
					<string>233</string>
					<key>en</key>
					<string>Ghana</string>
					<key>zh</key>
					<string>加纳</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1</string>
					<key>en</key>
					<string>Canada</string>
					<key>zh</key>
					<string>加拿大</string>
				</dict>
				<dict>
					<key>code</key>
					<string>34</string>
					<key>en</key>
					<string>Canaries Island</string>
					<key>zh</key>
					<string>加那利群岛(西)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>241</string>
					<key>en</key>
					<string>Gabon</string>
					<key>zh</key>
					<string>加蓬</string>
				</dict>
				<dict>
					<key>code</key>
					<string>855</string>
					<key>en</key>
					<string>Kampuchea</string>
					<key>zh</key>
					<string>柬埔寨</string>
				</dict>
				<dict>
					<key>code</key>
					<string>420</string>
					<key>en</key>
					<string>Czech</string>
					<key>zh</key>
					<string>捷克</string>
				</dict>
				<dict>
					<key>code</key>
					<string>263</string>
					<key>en</key>
					<string>Zimbabwe</string>
					<key>zh</key>
					<string>津巴布韦</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>K</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>237</string>
					<key>en</key>
					<string>Cameroon</string>
					<key>zh</key>
					<string>喀麦隆</string>
				</dict>
				<dict>
					<key>code</key>
					<string>974</string>
					<key>en</key>
					<string>Qatar</string>
					<key>zh</key>
					<string>卡塔尔</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1345</string>
					<key>en</key>
					<string>Cayman Island</string>
					<key>zh</key>
					<string>开曼群岛(英)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>682</string>
					<key>en</key>
					<string>Cook Island</string>
					<key>zh</key>
					<string>科克群岛(新)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>619162</string>
					<key>en</key>
					<string>Cocos Island</string>
					<key>zh</key>
					<string>科科斯岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>269</string>
					<key>en</key>
					<string>Comoro</string>
					<key>zh</key>
					<string>科摩罗</string>
				</dict>
				<dict>
					<key>code</key>
					<string>225</string>
					<key>en</key>
					<string>Ivory Coast</string>
					<key>zh</key>
					<string>科特迪瓦</string>
				</dict>
				<dict>
					<key>code</key>
					<string>965</string>
					<key>en</key>
					<string>Kuwait</string>
					<key>zh</key>
					<string>科威特</string>
				</dict>
				<dict>
					<key>code</key>
					<string>254</string>
					<key>en</key>
					<string>Kenya</string>
					<key>zh</key>
					<string>肯尼亚</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>L</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>371</string>
					<key>en</key>
					<string>Latvia</string>
					<key>zh</key>
					<string>拉脱维亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>266</string>
					<key>en</key>
					<string>Lesotho</string>
					<key>zh</key>
					<string>莱索托</string>
				</dict>
				<dict>
					<key>code</key>
					<string>856</string>
					<key>en</key>
					<string>Laos</string>
					<key>zh</key>
					<string>老挝</string>
				</dict>
				<dict>
					<key>code</key>
					<string>961</string>
					<key>en</key>
					<string>Lebanon</string>
					<key>zh</key>
					<string>黎巴嫩</string>
				</dict>
				<dict>
					<key>code</key>
					<string>231</string>
					<key>en</key>
					<string>Liberia</string>
					<key>zh</key>
					<string>利比里亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>218</string>
					<key>en</key>
					<string>Libya</string>
					<key>zh</key>
					<string>利比亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>370</string>
					<key>en</key>
					<string>Lithuania</string>
					<key>zh</key>
					<string>立陶宛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>4175</string>
					<key>en</key>
					<string>Liechtenstein</string>
					<key>zh</key>
					<string>列支敦士登</string>
				</dict>
				<dict>
					<key>code</key>
					<string>262</string>
					<key>en</key>
					<string>Reunion Island</string>
					<key>zh</key>
					<string>留尼旺岛(法)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>352</string>
					<key>en</key>
					<string>Luxembourg</string>
					<key>zh</key>
					<string>卢森堡</string>
				</dict>
				<dict>
					<key>code</key>
					<string>250</string>
					<key>en</key>
					<string>Rwanda</string>
					<key>zh</key>
					<string>卢旺达</string>
				</dict>
				<dict>
					<key>code</key>
					<string>40</string>
					<key>en</key>
					<string>Rumania</string>
					<key>zh</key>
					<string>罗马尼亚</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>M</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>261</string>
					<key>en</key>
					<string>Madagascar</string>
					<key>zh</key>
					<string>马达加斯加</string>
				</dict>
				<dict>
					<key>code</key>
					<string>960</string>
					<key>en</key>
					<string>Maldive</string>
					<key>zh</key>
					<string>马尔代夫</string>
				</dict>
				<dict>
					<key>code</key>
					<string>356</string>
					<key>en</key>
					<string>Malta</string>
					<key>zh</key>
					<string>马耳他</string>
				</dict>
				<dict>
					<key>code</key>
					<string>306</string>
					<key>en</key>
					<string>Malvinas Island</string>
					<key>zh</key>
					<string>马尔维纳斯群岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>265</string>
					<key>en</key>
					<string>Malawi</string>
					<key>zh</key>
					<string>马拉维</string>
				</dict>
				<dict>
					<key>code</key>
					<string>60</string>
					<key>en</key>
					<string>Malaysia</string>
					<key>zh</key>
					<string>马来西亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>223</string>
					<key>en</key>
					<string>Mali</string>
					<key>zh</key>
					<string>马里</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1670</string>
					<key>en</key>
					<string>Mariana Island</string>
					<key>zh</key>
					<string>马里亚纳群岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>389</string>
					<key>en</key>
					<string>Macedonija</string>
					<key>zh</key>
					<string>马其顿</string>
				</dict>
				<dict>
					<key>code</key>
					<string>692</string>
					<key>en</key>
					<string>Marshall Island</string>
					<key>zh</key>
					<string>马绍尔群岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>596</string>
					<key>en</key>
					<string>Martinique</string>
					<key>zh</key>
					<string>马提尼克(法)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>269</string>
					<key>en</key>
					<string>Mayotte Island</string>
					<key>zh</key>
					<string>马约特岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>230</string>
					<key>en</key>
					<string>Mauritius</string>
					<key>zh</key>
					<string>毛里求斯</string>
				</dict>
				<dict>
					<key>code</key>
					<string>222</string>
					<key>en</key>
					<string>Mauritania</string>
					<key>zh</key>
					<string>毛里塔尼亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1</string>
					<key>en</key>
					<string>United States of America</string>
					<key>zh</key>
					<string>美国</string>
				</dict>
				<dict>
					<key>code</key>
					<string>976</string>
					<key>en</key>
					<string>Mongolia</string>
					<key>zh</key>
					<string>蒙古</string>
				</dict>
				<dict>
					<key>code</key>
					<string>880</string>
					<key>en</key>
					<string>Bangladesh</string>
					<key>zh</key>
					<string>孟加拉国</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1664</string>
					<key>en</key>
					<string>Montserrat Island</string>
					<key>zh</key>
					<string>蒙特塞拉特岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>691</string>
					<key>en</key>
					<string>Micronesia</string>
					<key>zh</key>
					<string>密克罗尼西亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>51</string>
					<key>en</key>
					<string>Peru</string>
					<key>zh</key>
					<string>秘鲁</string>
				</dict>
				<dict>
					<key>code</key>
					<string>95</string>
					<key>en</key>
					<string>Burma</string>
					<key>zh</key>
					<string>缅甸</string>
				</dict>
				<dict>
					<key>code</key>
					<string>373</string>
					<key>en</key>
					<string>Moldova</string>
					<key>zh</key>
					<string>摩尔多瓦</string>
				</dict>
				<dict>
					<key>code</key>
					<string>212</string>
					<key>en</key>
					<string>Morocco</string>
					<key>zh</key>
					<string>摩洛哥</string>
				</dict>
				<dict>
					<key>code</key>
					<string>377</string>
					<key>en</key>
					<string>Monaco</string>
					<key>zh</key>
					<string>摩纳哥</string>
				</dict>
				<dict>
					<key>code</key>
					<string>258</string>
					<key>en</key>
					<string>Mazamibique</string>
					<key>zh</key>
					<string>莫桑比克</string>
				</dict>
				<dict>
					<key>code</key>
					<string>52</string>
					<key>en</key>
					<string>Mexico</string>
					<key>zh</key>
					<string>墨西哥</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>N</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>264</string>
					<key>en</key>
					<string>Namibia</string>
					<key>zh</key>
					<string>纳米比亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>27</string>
					<key>en</key>
					<string>South Africa</string>
					<key>zh</key>
					<string>南非</string>
				</dict>
				<dict>
					<key>code</key>
					<string>381</string>
					<key>en</key>
					<string>Yugoslavia</string>
					<key>zh</key>
					<string>南斯拉夫</string>
				</dict>
				<dict>
					<key>code</key>
					<string>674</string>
					<key>en</key>
					<string>Nauru</string>
					<key>zh</key>
					<string>瑙鲁</string>
				</dict>
				<dict>
					<key>code</key>
					<string>505</string>
					<key>en</key>
					<string>Nicaragua</string>
					<key>zh</key>
					<string>尼加拉瓜</string>
				</dict>
				<dict>
					<key>code</key>
					<string>977</string>
					<key>en</key>
					<string>Nepal</string>
					<key>zh</key>
					<string>泥泊尔</string>
				</dict>
				<dict>
					<key>code</key>
					<string>227</string>
					<key>en</key>
					<string>Niger</string>
					<key>zh</key>
					<string>尼日尔</string>
				</dict>
				<dict>
					<key>code</key>
					<string>234</string>
					<key>en</key>
					<string>Nigeria</string>
					<key>zh</key>
					<string>尼日利亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>683</string>
					<key>en</key>
					<string>Niue Island</string>
					<key>zh</key>
					<string>纽埃岛(新)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>672</string>
					<key>en</key>
					<string>Norfold Island</string>
					<key>zh</key>
					<string>诺福克岛(澳)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>47</string>
					<key>en</key>
					<string>Norway</string>
					<key>zh</key>
					<string>挪威</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>P</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>680</string>
					<key>en</key>
					<string>Palau</string>
					<key>zh</key>
					<string>帕劳</string>
				</dict>
				<dict>
					<key>code</key>
					<string>351</string>
					<key>en</key>
					<string>Portugal</string>
					<key>zh</key>
					<string>葡萄牙</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>R</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>81</string>
					<key>en</key>
					<string>Japan</string>
					<key>zh</key>
					<string>日本</string>
				</dict>
				<dict>
					<key>code</key>
					<string>46</string>
					<key>en</key>
					<string>Sweden</string>
					<key>zh</key>
					<string>瑞典</string>
				</dict>
				<dict>
					<key>code</key>
					<string>41</string>
					<key>en</key>
					<string>Switzerland</string>
					<key>zh</key>
					<string>瑞士</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>S</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>1473</string>
					<key>en</key>
					<string>Grenada</string>
					<key>zh</key>
					<string>s格林纳达</string>
				</dict>
				<dict>
					<key>code</key>
					<string>503</string>
					<key>en</key>
					<string>El Salvador</string>
					<key>zh</key>
					<string>萨尔瓦多</string>
				</dict>
				<dict>
					<key>code</key>
					<string>232</string>
					<key>en</key>
					<string>Sierra Leone</string>
					<key>zh</key>
					<string>塞拉利昂</string>
				</dict>
				<dict>
					<key>code</key>
					<string>221</string>
					<key>en</key>
					<string>Senegal</string>
					<key>zh</key>
					<string>塞内加尔</string>
				</dict>
				<dict>
					<key>code</key>
					<string>357</string>
					<key>en</key>
					<string>Cyprus</string>
					<key>zh</key>
					<string>塞浦路斯 </string>
				</dict>
				<dict>
					<key>code</key>
					<string>248</string>
					<key>en</key>
					<string>Seychelles</string>
					<key>zh</key>
					<string>塞舌尔</string>
				</dict>
				<dict>
					<key>code</key>
					<string>259</string>
					<key>en</key>
					<string>Zanzibar</string>
					<key>zh</key>
					<string>桑给巴尔</string>
				</dict>
				<dict>
					<key>code</key>
					<string>966</string>
					<key>en</key>
					<string>Saudi Arabia</string>
					<key>zh</key>
					<string>沙特阿拉伯</string>
				</dict>
				<dict>
					<key>code</key>
					<string>619164</string>
					<key>en</key>
					<string>Christmas Island</string>
					<key>zh</key>
					<string>圣诞岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>239</string>
					<key>en</key>
					<string>Sao Tome and Princip</string>
					<key>zh</key>
					<string>圣多美和普林西比</string>
				</dict>
				<dict>
					<key>code</key>
					<string>290</string>
					<key>en</key>
					<string>St Helena </string>
					<key>zh</key>
					<string>圣赫勒拿</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1869</string>
					<key>en</key>
					<string>St.Christopher Nevis Is.</string>
					<key>zh</key>
					<string>圣克里斯 托弗和尼维斯岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1758</string>
					<key>en</key>
					<string>St. Lucia</string>
					<key>zh</key>
					<string>圣卢西亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>378</string>
					<key>en</key>
					<string>San Marino</string>
					<key>zh</key>
					<string>圣马力诺</string>
				</dict>
				<dict>
					<key>code</key>
					<string>508</string>
					<key>en</key>
					<string>St. Pierre Miquelon Is.</string>
					<key>zh</key>
					<string>圣皮埃尔岛及密克隆岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1784</string>
					<key>en</key>
					<string>St. Vincent Island</string>
					<key>zh</key>
					<string>圣文森特岛(英)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>94</string>
					<key>en</key>
					<string>Srilanka</string>
					<key>zh</key>
					<string>斯里兰卡</string>
				</dict>
				<dict>
					<key>code</key>
					<string>421</string>
					<key>en</key>
					<string>Slovak</string>
					<key>zh</key>
					<string>斯洛伐克</string>
				</dict>
				<dict>
					<key>code</key>
					<string>386</string>
					<key>en</key>
					<string>Slovenia</string>
					<key>zh</key>
					<string>斯洛文尼亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>268</string>
					<key>en</key>
					<string>Swaziland</string>
					<key>zh</key>
					<string>斯威士兰</string>
				</dict>
				<dict>
					<key>code</key>
					<string>249</string>
					<key>en</key>
					<string>Sudan</string>
					<key>zh</key>
					<string>苏丹</string>
				</dict>
				<dict>
					<key>code</key>
					<string>597</string>
					<key>en</key>
					<string>Suriname</string>
					<key>zh</key>
					<string>苏里南</string>
				</dict>
				<dict>
					<key>code</key>
					<string>677</string>
					<key>en</key>
					<string>Solomon Island</string>
					<key>zh</key>
					<string>所罗门群岛(英)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>252</string>
					<key>en</key>
					<string>Smali</string>
					<key>zh</key>
					<string>索马里</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>T</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>992</string>
					<key>en</key>
					<string>Tajikistan</string>
					<key>zh</key>
					<string>塔吉克斯坦</string>
				</dict>
				<dict>
					<key>code</key>
					<string>66</string>
					<key>en</key>
					<string>Thailand</string>
					<key>zh</key>
					<string>泰国</string>
				</dict>
				<dict>
					<key>code</key>
					<string>886</string>
					<key>en</key>
					<string>Taiwan</string>
					<key>zh</key>
					<string>台湾</string>
				</dict>
				<dict>
					<key>code</key>
					<string>255</string>
					<key>en</key>
					<string>Tanzania</string>
					<key>zh</key>
					<string>坦桑尼亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>676</string>
					<key>en</key>
					<string>Tonga</string>
					<key>zh</key>
					<string>汤加</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1809</string>
					<key>en</key>
					<string>Turks and Caicos Island</string>
					<key>zh</key>
					<string>特克斯和凯科斯群岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1809</string>
					<key>en</key>
					<string>Trinidad and Tabago</string>
					<key>zh</key>
					<string>特立尼达和多巴哥</string>
				</dict>
				<dict>
					<key>code</key>
					<string>90</string>
					<key>en</key>
					<string>Turkey</string>
					<key>zh</key>
					<string>土尔其</string>
				</dict>
				<dict>
					<key>code</key>
					<string>993</string>
					<key>en</key>
					<string>Turkmenistan</string>
					<key>zh</key>
					<string>土库曼斯坦</string>
				</dict>
				<dict>
					<key>code</key>
					<string>216</string>
					<key>en</key>
					<string>Tunisia</string>
					<key>zh</key>
					<string>突尼斯</string>
				</dict>
				<dict>
					<key>code</key>
					<string>688</string>
					<key>en</key>
					<string>Tuvalu</string>
					<key>zh</key>
					<string>图瓦卢</string>
				</dict>
				<dict>
					<key>code</key>
					<string>690</string>
					<key>en</key>
					<string>Tokelau Island</string>
					<key>zh</key>
					<string>托克劳群岛(新)</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>W</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>681</string>
					<key>en</key>
					<string>Wallis and Futuna Island</string>
					<key>zh</key>
					<string>瓦里斯和富士那群岛</string>
				</dict>
				<dict>
					<key>code</key>
					<string>678</string>
					<key>en</key>
					<string>Vanuatu</string>
					<key>zh</key>
					<string>瓦努阿图</string>
				</dict>
				<dict>
					<key>code</key>
					<string>502</string>
					<key>en</key>
					<string>Guatemala</string>
					<key>zh</key>
					<string>危地马拉</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1340</string>
					<key>en</key>
					<string>Virgin Island (U.S.A.)</string>
					<key>zh</key>
					<string>维尔京群岛(美)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1284</string>
					<key>en</key>
					<string>Virgin Island (British)</string>
					<key>zh</key>
					<string>维尔京群岛(英)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1808</string>
					<key>en</key>
					<string>Wake Island</string>
					<key>zh</key>
					<string>威克岛(美)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>58</string>
					<key>en</key>
					<string>Venezuela</string>
					<key>zh</key>
					<string>委内瑞拉</string>
				</dict>
				<dict>
					<key>code</key>
					<string>673</string>
					<key>en</key>
					<string>Brunei</string>
					<key>zh</key>
					<string>文莱</string>
				</dict>
				<dict>
					<key>code</key>
					<string>256</string>
					<key>en</key>
					<string>Uganda</string>
					<key>zh</key>
					<string>乌干达</string>
				</dict>
				<dict>
					<key>code</key>
					<string>380</string>
					<key>en</key>
					<string>Ukraine</string>
					<key>zh</key>
					<string>乌克兰</string>
				</dict>
				<dict>
					<key>code</key>
					<string>598</string>
					<key>en</key>
					<string>Uruguay</string>
					<key>zh</key>
					<string>乌拉圭</string>
				</dict>
				<dict>
					<key>code</key>
					<string>998</string>
					<key>en</key>
					<string>Uzbekistan</string>
					<key>zh</key>
					<string>乌兹别克斯坦</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>X</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>34</string>
					<key>en</key>
					<string>Spain</string>
					<key>zh</key>
					<string>西班牙</string>
				</dict>
				<dict>
					<key>code</key>
					<string>30</string>
					<key>en</key>
					<string>Greece</string>
					<key>zh</key>
					<string>希腊</string>
				</dict>
				<dict>
					<key>code</key>
					<string>967</string>
					<key>en</key>
					<string>Western Sahara</string>
					<key>zh</key>
					<string>西撒哈拉</string>
				</dict>
				<dict>
					<key>code</key>
					<string>685</string>
					<key>en</key>
					<string>Samoa, Western</string>
					<key>zh</key>
					<string>西萨摩亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1808</string>
					<key>en</key>
					<string>Hawaii</string>
					<key>zh</key>
					<string>夏威夷</string>
				</dict>
				<dict>
					<key>code</key>
					<string>852</string>
					<key>en</key>
					<string>Hong Kong</string>
					<key>zh</key>
					<string>香港</string>
				</dict>
				<dict>
					<key>code</key>
					<string>65</string>
					<key>en</key>
					<string>Singapore</string>
					<key>zh</key>
					<string>新加坡</string>
				</dict>
				<dict>
					<key>code</key>
					<string>687</string>
					<key>en</key>
					<string>New Caledonia Island</string>
					<key>zh</key>
					<string>新喀里多尼亚群岛(法)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>64</string>
					<key>en</key>
					<string>New Zealand</string>
					<key>zh</key>
					<string>新西兰</string>
				</dict>
				<dict>
					<key>code</key>
					<string>36</string>
					<key>en</key>
					<string>Hungary</string>
					<key>zh</key>
					<string>匈牙利</string>
				</dict>
				<dict>
					<key>code</key>
					<string>963</string>
					<key>en</key>
					<string>Syria</string>
					<key>zh</key>
					<string>叙利亚</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>Y</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>1876</string>
					<key>en</key>
					<string>Jamaica</string>
					<key>zh</key>
					<string>牙买加</string>
				</dict>
				<dict>
					<key>code</key>
					<string>374</string>
					<key>en</key>
					<string>Armenia</string>
					<key>zh</key>
					<string>亚美尼亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>967</string>
					<key>en</key>
					<string>Yemen</string>
					<key>zh</key>
					<string>也门</string>
				</dict>
				<dict>
					<key>code</key>
					<string>39</string>
					<key>en</key>
					<string>Italy</string>
					<key>zh</key>
					<string>意大利</string>
				</dict>
				<dict>
					<key>code</key>
					<string>964</string>
					<key>en</key>
					<string>Iraq</string>
					<key>zh</key>
					<string>伊拉克</string>
				</dict>
				<dict>
					<key>code</key>
					<string>98</string>
					<key>en</key>
					<string>Iran</string>
					<key>zh</key>
					<string>伊朗</string>
				</dict>
				<dict>
					<key>code</key>
					<string>972</string>
					<key>en</key>
					<string>Israel</string>
					<key>zh</key>
					<string>以色列</string>
				</dict>
				<dict>
					<key>code</key>
					<string>91</string>
					<key>en</key>
					<string>India</string>
					<key>zh</key>
					<string>印度</string>
				</dict>
				<dict>
					<key>code</key>
					<string>62</string>
					<key>en</key>
					<string>Indonesia</string>
					<key>zh</key>
					<string>印度尼西亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>44</string>
					<key>en</key>
					<string>United Kingdom</string>
					<key>zh</key>
					<string>英国</string>
				</dict>
				<dict>
					<key>code</key>
					<string>962</string>
					<key>en</key>
					<string>Jordan</string>
					<key>zh</key>
					<string>约旦</string>
				</dict>
				<dict>
					<key>code</key>
					<string>84</string>
					<key>en</key>
					<string>Vietnam</string>
					<key>zh</key>
					<string>越南</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fc</key>
			<string>Z</string>
			<key>subs</key>
			<array>
				<dict>
					<key>code</key>
					<string>260</string>
					<key>en</key>
					<string>Zambia</string>
					<key>zh</key>
					<string>赞比亚</string>
				</dict>
				<dict>
					<key>code</key>
					<string>235</string>
					<key>en</key>
					<string>Chad</string>
					<key>zh</key>
					<string>乍得</string>
				</dict>
				<dict>
					<key>code</key>
					<string>243</string>
					<key>en</key>
					<string>Zaire</string>
					<key>zh</key>
					<string>扎伊尔</string>
				</dict>
				<dict>
					<key>code</key>
					<string>350</string>
					<key>en</key>
					<string>Gibraltar</string>
					<key>zh</key>
					<string>直布罗陀(英)</string>
				</dict>
				<dict>
					<key>code</key>
					<string>56</string>
					<key>en</key>
					<string>Chile</string>
					<key>zh</key>
					<string>智利</string>
				</dict>
				<dict>
					<key>code</key>
					<string>236</string>
					<key>en</key>
					<string>Central Africa Republic</string>
					<key>zh</key>
					<string>中非</string>
				</dict>
				<dict>
					<key>code</key>
					<string>86</string>
					<key>en</key>
					<string>China</string>
					<key>zh</key>
					<string>中国</string>
				</dict>
				<dict>
					<key>code</key>
					<string>1808</string>
					<key>en</key>
					<string>Midway Island</string>
					<key>zh</key>
					<string>中途岛</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
