<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>正常</string>
	<key>1</key>
	<string>系统异常</string>
	<key>2</key>
	<string>尚未登录</string>
	<key>3</key>
	<string>未提供用户编号</string>
	<key>4</key>
	<string>提供的参数与登录的信息不一致</string>
	<key>5</key>
	<string>环信服务失败</string>
	<key>6</key>
	<string>用户信息重复</string>
	<key>7</key>
	<string>验证码错误</string>
	<key>8</key>
	<string>登录失败</string>
	<key>9</key>
	<string>无效的手机号码</string>
	<key>10</key>
	<string>短信服务失败</string>
	<key>11</key>
	<string>无此用户</string>
	<key>12</key>
	<string>匹配太多的用户</string>
	<key>13</key>
	<string>尚未绑定邮件</string>
	<key>14</key>
	<string>邮件发送服务失败</string>
	<key>15</key>
	<string>未提供资源内容</string>
	<key>16</key>
	<string>电话号码已经被注册</string>
	<key>17</key>
	<string>邮箱已经被注册</string>
	<key>18</key>
	<string>用户已经被注册</string>
	<key>19</key>
	<string>未提供用户名</string>
	<key>20</key>
	<string>未提供密码/密码错误</string>
	<key>21</key>
	<string>未提供资源id(resid)</string>
	<key>22</key>
	<string>参数无效</string>
	<key>23</key>
	<string>接口未实现</string>
	<key>24</key>
	<string>数据未修改</string>
	<key>25</key>
	<string>标签重复</string>
	<key>26</key>
	<string>重复点击</string>
	<key>27</key>
	<string>重复申请</string>
	<key>28</key>
	<string>电话号码已经被使用</string>
	<key>29</key>
	<string>未提供附言(名片申请)</string>
	<key>30</key>
	<string>不允许操作</string>
	<key>31</key>
	<string>邮箱已经被使用</string>
	<key>32</key>
	<string>无效的邮箱</string>
	<key>33</key>
	<string>电话号码未使用</string>
	<key>34</key>
	<string>邮箱未使用</string>
	<key>35</key>
	<string>备用号码重复</string>
	<key>36</key>
	<string>坐标无效</string>
	<key>37</key>
	<string>加入多个群换组</string>
	<key>38</key>
	<string>加入群换组失败</string>
	<key>39</key>
	<string>未发现群换组</string>
	<key>40</key>
	<string>备用号码已经注册</string>
	<key>41</key>
	<string>分组重复</string>
	<key>42</key>
	<string>太多号码</string>
	<key>43</key>
	<string>号码列表无效</string>
	<key>44</key>
	<string>数组成员太多</string>
	<key>45</key>
	<string>无此申请</string>
	<key>46</key>
	<string>在黑名单中</string>
	<key>48</key>
	<string>无此联系人</string>
	<key>49</key>
	<string>调用太频繁</string>
	<key>50</key>
	<string>与您注册的号码相同，请重新输入</string>
	<key>51</key>
	<string>网络访问出错</string>
	<key>52</key>
	<string>解码参数错误</string>
	<key>53</key>
	<string>输入字符非法</string>
	<key>54</key>
	<string>无群聊组</string>
	<key>55</key>
	<string>正在创建群聊组</string>
	<key>57</key>
	<string>群换组名太普通</string>
	<key>58</key>
	<string>用户被封锁</string>
	<key>59</key>
	<string>标签不存在</string>
	<key>60</key>
	<string>个人添加成员太多</string>
	<key>64</key>
	<string>您输入的内容不合法，请修改后重新提交</string>
	<key>65</key>
	<string>修改成功30天后才可再次修改</string>
</dict>
</plist>
