<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AREA</key>
	<string>地区</string>
	<key>SIGNATURE</key>
	<string>个性签名</string>
	<key>GROUP</key>
	<string>分组</string>
	<key>MUTUALFRIEND</key>
	<string>共同好友</string>
	<key>LABELS</key>
	<string>标签</string>
	<key>TELEPHONE</key>
	<string>电话</string>
	<key>EMAIL</key>
	<string>邮箱</string>
	<key>WEIXIN</key>
	<string>微信</string>
	<key>QQ</key>
	<string>QQ</string>
	<key>ADDRESS</key>
	<string>地址</string>
	<key>CONTACTINFORMATION</key>
	<string>联系方式</string>
	<key>LIVE</key>
	<string>背景</string>
	<key>PREVENT_HARASS</key>
	<array>
		<string>保险理财</string>
		<string>房产中介</string>
		<string>广告推销</string>
		<string>快递送餐</string>
		<string>骚扰电话</string>
		<string>响一声</string>
		<string>诈骗电话</string>
	</array>
	<key>ADD_NEW_EXPERIENCE</key>
	<array>
		<dict>
			<key>section</key>
			<string>工作经历</string>
			<key>cell</key>
			<array>
				<dict>
					<key>title</key>
					<string>公司</string>
					<key>isRequired</key>
					<string>1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>职位</string>
					<key>isRequired</key>
					<string>1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>时间</string>
					<key>isRequired</key>
					<string>2</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>section</key>
			<string>教育经历</string>
			<key>cell</key>
			<array>
				<dict>
					<key>title</key>
					<string>学历</string>
					<key>isRequired</key>
					<string>2</string>
				</dict>
				<dict>
					<key>title</key>
					<string>学校</string>
					<key>isRequired</key>
					<string>1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>院系/专业</string>
					<key>isRequired</key>
					<string>1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>在校时间</string>
					<key>isRequired</key>
					<string>2</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>EDUCATION</key>
	<array>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>name</key>
			<string>博士</string>
		</dict>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>name</key>
			<string>硕士</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>name</key>
			<string>本科学士</string>
		</dict>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>name</key>
			<string>专科技校</string>
		</dict>
		<dict>
			<key>id</key>
			<string>5</string>
			<key>name</key>
			<string>高中</string>
		</dict>
		<dict>
			<key>id</key>
			<string>6</string>
			<key>name</key>
			<string>初中</string>
		</dict>
		<dict>
			<key>id</key>
			<string>7</string>
			<key>name</key>
			<string>小学</string>
		</dict>
		<dict>
			<key>id</key>
			<string>8</string>
			<key>name</key>
			<string>幼儿园</string>
		</dict>
	</array>
	<key>CHANGEPASSWORD</key>
	<array>
		<dict>
			<key>title</key>
			<string>原密码</string>
			<key>placeholder</key>
			<string>请输入密码</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新密码</string>
			<key>placeholder</key>
			<string>请输入新密码6-14位</string>
		</dict>
		<dict>
			<key>title</key>
			<string>确认密码</string>
			<key>placeholder</key>
			<string>请再次输入新密码</string>
		</dict>
	</array>
	<key>PRIVACY</key>
	<array>
		<dict>
			<key>section</key>
			<string>能被陌生人</string>
			<key>cell</key>
			<array>
				<string>通过手机号搜索到我</string>
				<string>通过关键字搜索到我</string>
			</array>
		</dict>
		<dict>
			<key>section</key>
			<string>名片申请要求</string>
			<key>cell</key>
			<array>
				<string>必须填写验证信息</string>
			</array>
		</dict>
		<dict>
			<key>section</key>
			<string>谁可以看我的联系资料</string>
			<key>cell</key>
			<array>
				<string>所有人</string>
				<string>我的联系人</string>
				<string>仅以下分组</string>
			</array>
		</dict>
		<dict>
			<key>section</key>
			<string>谁可以看我的背景资料</string>
			<key>cell</key>
			<array>
				<string>所有人</string>
				<string>我的联系人</string>
				<string>仅以下分组</string>
			</array>
		</dict>
	</array>
	<key>TEL_TYPE_ARRAY</key>
	<array>
		<string>手机</string>
		<string>住宅</string>
		<string>工作</string>
		<string>其它</string>
		<string>添加自定义</string>
	</array>
	<key>CHAT_VOICE</key>
	<string>[语音]</string>
	<key>CHAT_PIC</key>
	<string>[图片]</string>
	<key>CHAT_CARD</key>
	<string>[名片]</string>
	<key>CHAT_LOCATION</key>
	<string>[地理位置]</string>
	<key>CHAT_VIDEO</key>
	<string>[视频]</string>
	<key>MODEL_CHAT</key>
	<dict>
		<key>chat_record</key>
		<string>聊天记录</string>
		<key>group_exitalarm</key>
		<string>确定退出该群？</string>
		<key>group_dissolvealarm</key>
		<string>确定要解散该群？</string>
		<key>string_location</key>
		<string>位置</string>
		<key>string_send</key>
		<string>发送</string>
		<key>is_locationing</key>
		<string>正在定位...</string>
		<key>string_addressbook</key>
		<string>通讯录</string>
		<key>alert_send_photo</key>
		<string>确定需要发送该图片吗?</string>
		<key>now_chat_log</key>
		<string>当前聊天记录</string>
		<key>del_and_logout_group</key>
		<string>删除并退群</string>
		<key>dissolution_group</key>
		<string>解散该群</string>
		<key>group_message_setting</key>
		<string>群消息设置</string>
		<key>group_chat_header</key>
		<string>群聊头像</string>
		<key>group_chat_name</key>
		<string>群聊名称</string>
		<key>save_to_contact</key>
		<string>保存到通讯录</string>
		<key>to_top_chat</key>
		<string>置顶聊天</string>
		<key>accept_not_prompt</key>
		<string>接收消息不提示</string>
		<key>clear_all_chat_log</key>
		<string>清空聊天内容</string>
		<key>getting_message</key>
		<string>正在获取信息...</string>
		<key>change_chat_group_name</key>
		<string>%@修改了群名称</string>
		<key>change_chat_group_header</key>
		<string>%@修改了群头像</string>
		<key>share_card</key>
		<string>分享名片</string>
		<key>alert_share_master_to</key>
		<string>确定分享我的达人统计给%@?</string>
		<key>alert_share_card_to</key>
		<string>确定分享%@的名片给%@?</string>
		<key>voice_not_began</key>
		<string>录音没有开始</string>
		<key>voice_too_short</key>
		<string>录音时间过短</string>
		<key>string_card</key>
		<string>名片</string>
		<key>create_group_chat</key>
		<string>发起群聊</string>
		<key>add_new_friend</key>
		<string>添加朋友</string>
		<key>string_scan_scan</key>
		<string>扫一扫</string>
		<key>whose_group</key>
		<string>的群</string>
		<key>message_setting</key>
		<string>消息设置</string>
		<key>del_with_one_chat_log</key>
		<string>删除和%@的聊天记录</string>
		<key>string_picture</key>
		<string>照片</string>
		<key>string_shot</key>
		<string>拍摄</string>
		<key>cancel_voice_send</key>
		<string>手指向上滑,取消发送</string>
		<key>cancel_voice_send_touch</key>
		<string>松开手指,取消发送</string>
		<key>send_success</key>
		<string>发送成功</string>
		<key>send_picture_to</key>
		<string>确定需要发送图片给%@吗?</string>
		<key>message_title</key>
		<string>消息</string>
	</dict>
	<key>MODEL_CONTACT</key>
	<dict>
		<key>phonemarch</key>
		<string>输入的号码与如下用户匹配</string>
		<key>save_and_add</key>
		<string>存储为联系人并申请加为好友</string>
		<key>birday_not_set</key>
		<string>没有对好友设置生日提醒</string>
		<key>load_contacts</key>
		<string>正在加载联系人</string>
		<key>count_contact</key>
		<string>共%ld位联系人</string>
		<key>sear_result</key>
		<string>搜索的结果是:</string>
		<key>sear</key>
		<string>搜索</string>
		<key>sear_phone_name</key>
		<string>请输入手机号码/姓名/职位/公司</string>
		<key>not_contact</key>
		<string>暂无联系人,请上传联系人</string>
		<key>new_card</key>
		<string>新的名片</string>
		<key>group_s</key>
		<string>群发短信</string>
		<key>fdyn_s</key>
		<string>好友动态</string>
		<key>fback_s</key>
		<string>黑名单</string>
		<key>group_chat</key>
		<string>群聊</string>
		<key>fbirs_s</key>
		<string>生日提醒</string>
		<key>fymex_s</key>
		<string>达人统计</string>
		<key>contact_sf</key>
		<string>联系人</string>
		<key>sel_contact</key>
		<string>选择联系人</string>
		<key>sfriend_count</key>
		<string>%ld个共同好友</string>
		<key>card_share</key>
		<string>名片分享</string>
		<key>no_message</key>
		<string>该设备没有发送短信的功能~</string>
		<key>low_appversion</key>
		<string>iOS版本过低(iOS4.0以后)</string>
		<key>authority_camera</key>
		<string>设备没有开启相机服务,请到设置-&gt;隐私中开启</string>
		<key>no_camera</key>
		<string>你没有摄像头</string>
		<key>authority_photo</key>
		<string>设备没有开启照片服务,请到设置-&gt;隐私中开启</string>
		<key>authority_addressbook</key>
		<string>未获得通讯录访问权限</string>
		<key>dial</key>
		<string>拨号</string>
		<key>new_contact</key>
		<string>新建联系人</string>
		<key>add_contact</key>
		<string>新增联系人</string>
		<key>alert_clear_recording</key>
		<string>确定要将通话记录全部清空吗?</string>
		<key>cp_is_empty</key>
		<string>公司、职位未填写</string>
		<key>backname</key>
		<string>备注名:</string>
		<key>alert_clear_one_recording</key>
		<string>确定要将与此人的通话记录全部清空吗?</string>
		<key>call_history</key>
		<string>通话历史</string>
		<key>friend_rec</key>
		<string>推荐好友</string>
		<key>button_change_a_batch</key>
		<string>换一批</string>
		<key>black_list</key>
		<string>黑名单</string>
		<key>black_list_content</key>
		<string>黑名单中的用户将无法向您发送消息、换名片申请、也无法对您进行评论、贴标签等操作</string>
		<key>change_binding_tel</key>
		<string>更改了绑定电话</string>
		<key>change_company</key>
		<string>更改了公司</string>
		<key>change_position</key>
		<string>更改了职位</string>
		<key>state_add_remarks_tel</key>
		<string>添加了备注电话</string>
		<key>change_birthday</key>
		<string>更改了生日</string>
		<key>change_education</key>
		<string>更改了教育信息</string>
		<key>birthday_details</key>
		<string>生日详细</string>
		<key>add_remark_tel</key>
		<string>添加备注电话</string>
		<key>add_new_contact_tel</key>
		<string>添加新的联系电话</string>
		<key>input_new_tel</key>
		<string>请输入新号码</string>
		<key>alert_equal_data</key>
		<string>已存在相同的数据</string>
		<key>toast_max_remark_tel</key>
		<string>最多只能添加%ld条备注电话</string>
		<key>alert_back</key>
		<string>本次修改未保存是否确定返回</string>
		<key>new_group</key>
		<string>新分组</string>
		<key>give_TA_new_grop</key>
		<string>给TA添加分组</string>
		<key>group_of</key>
		<string>%@所在的分组</string>
		<key>other_groups</key>
		<string>可选其它分组</string>
		<key>share_by_app</key>
		<string>来自%@的名片分享</string>
		<key>share_to_weixin</key>
		<string>分享名片到微信</string>
		<key>details</key>
		<string>详细资料</string>
		<key>user_details</key>
		<string>用户资料</string>
		<key>cancel_star_mark</key>
		<string>取消星标</string>
		<key>add_star_mark</key>
		<string>添加星标</string>
		<key>cancel_black</key>
		<string>解除黑名单</string>
		<key>add_black</key>
		<string>加入黑名单</string>
		<key>edit_contacts</key>
		<string>编辑联系人</string>
		<key>share_contacts</key>
		<string>分享联系人</string>
		<key>add_to_iphone</key>
		<string>添加到手机</string>
		<key>del_by_app</key>
		<string>删除联系人</string>
		<key>alert_add_to_iphone</key>
		<string>是否将他的联系方式添加到手机通讯录中</string>
		<key>share_by_the_way</key>
		<string>通过以下方式分享该联系人</string>
		<key>alert_can_add_by_black</key>
		<string>对方已不再黑名单中,可以添加为好友</string>
		<key>alert_del_black_fail</key>
		<string>解除失败</string>
		<key>alert_is_del</key>
		<string>是否删除 %@</string>
		<key>add_tel_type</key>
		<string>添加电话标签</string>
		<key>alert_teltype_count</key>
		<string>类别不能超过2个字</string>
		<key>alert_teltype_not_empty</key>
		<string>类别不能为空</string>
		<key>string_sfriend</key>
		<string>共同好友</string>
		<key>contact_sfriend_count</key>
		<string>%ld人也把TA标记为好友</string>
		<key>recommended_notes</key>
		<string>推荐备注</string>
		<key>alert_add_black</key>
		<string>是否将 %@ 加入黑名单</string>
		<key>recommended_count</key>
		<string>%@人对TA的备注</string>
		<key>bakname_can_not_empty</key>
		<string>备注名不能为空</string>
		<key>toast_max_email_count</key>
		<string>邮箱字数不能超过%d</string>
		<key>toast_max_weixin_count</key>
		<string>微信字数不能超过%d</string>
		<key>toast_max_qq_count</key>
		<string>QQ字数不能超过%d</string>
		<key>select_position</key>
		<string>选择职位</string>
		<key>select_education</key>
		<string>选择学历</string>
		<key>select_profession</key>
		<string>选择学院</string>
		<key>input_school</key>
		<string>输入学校名称</string>
		<key>input_company</key>
		<string>输入公司名称</string>
		<key>search_company</key>
		<string>搜索公司</string>
		<key>search_school</key>
		<string>搜索学校</string>
		<key>search_profrssion</key>
		<string>输入学院名称</string>
		<key>profession_name</key>
		<string>学院名称</string>
		<key>sfriend_info</key>
		<string>%@、%@等%ld人</string>
		<key>add_remark</key>
		<string>点击此处进行备忘</string>
		<key>toast_add_success</key>
		<string>添加成功</string>
		<key>toast_label_repeat</key>
		<string>标签重复</string>
		<key>send_message</key>
		<string>免费消息</string>
		<key>send_shortMessage</key>
		<string>发送短信</string>
		<key>string_invite</key>
		<string>邀请</string>
		<key>string_invite_regist</key>
		<string>邀请注册</string>
		<key>call_phone</key>
		<string>打电话</string>
		<key>add_contact_and_friend</key>
		<string>添加好友</string>
		<key>add_friend</key>
		<string>添加好友</string>
		<key>add_to_contact</key>
		<string>添加到通讯录</string>
		<key>request_friend_success</key>
		<string>好友请求发送成功</string>
		<key>choose_group</key>
		<string>点击选择分组</string>
		<key>add_black_success</key>
		<string>黑名单添加成功</string>
		<key>del_success</key>
		<string>删除成功</string>
		<key>max_add_label_count</key>
		<string>最多只能给当前联系人发送%ld条标签</string>
		<key>max_all_label_count</key>
		<string>当前用户标签总数不能超过%ld条</string>
		<key>alert_input_label_name</key>
		<string>请填写标签名</string>
		<key>group_members</key>
		<string>分组成员</string>
		<key>string_group</key>
		<string>分组</string>
		<key>group_name</key>
		<string>分组名字</string>
		<key>so_group_type</key>
		<string>例如家人、朋友、同事</string>
		<key>group_members_list</key>
		<string>成员列表</string>
		<key>del_group</key>
		<string>删除该分组</string>
		<key>save_other_group</key>
		<string>另存为新分组</string>
		<key>group_explain1</key>
		<string>手机短信群发,是以手机短信方式,会正常产生费用</string>
		<key>group_explain2</key>
		<string>备注了多个号码的联系人,系统默认使用常用号码.可以联系人详情中设置常用号码</string>
		<key>alert_group_name_length</key>
		<string>不能超于18个字</string>
		<key>group_name_not_empty</key>
		<string>分组名字不能为空</string>
		<key>alert_del_group</key>
		<string>分组中的联系人不会被删除,是否删除分组?</string>
		<key>had_select_contact</key>
		<string>已选择%ld位好友</string>
		<key>search_result</key>
		<string>搜索的结果是:</string>
		<key>merge_contact</key>
		<string>合并联系人</string>
		<key>matching_done</key>
		<string>匹配完成</string>
		<key>input_contact_name_tel</key>
		<string>请输入联系人的姓名和电话</string>
		<key>name_rule</key>
		<string>姓名不能超过5个汉字或10个字母</string>
		<key>name_not_empty</key>
		<string>姓名不能为空</string>
		<key>number_not_empty</key>
		<string>号码不能为空</string>
		<key>number_formate_err</key>
		<string>号码格式填写错误</string>
		<key>success_to_new_contact</key>
		<string>生成新联系人成功</string>
		<key>add_card</key>
		<string>添加名片</string>
		<key>add_card_explain</key>
		<string>手机号/姓名/职位/公司</string>
		<key>call_tel_1_weeks</key>
		<string>最近一周被拨打%@次</string>
		<key>call_tel_1_months</key>
		<string>最近一个月被拨打%@次</string>
		<key>call_tel_1_years</key>
		<string>最近一年被拨打%@次</string>
		<key>string_visitor</key>
		<string>访客</string>
		<key>string_friend</key>
		<string>好友</string>
		<key>del_in_his_contact</key>
		<string>在TA的通讯录中删除我</string>
		<key>unknow_city</key>
		<string>未知城市</string>
		<key>string_accept</key>
		<string>接受</string>
		<key>str_firend</key>
		<string>朋友</string>
		<key>str_recommend</key>
		<string>推荐</string>
		<key>str_old_bir</key>
		<string>后过生日</string>
		<key>str_ld_bir</key>
		<string>过%lu岁生日</string>
		<key>str_ld_day</key>
		<string>%lu天</string>
		<key>str_lud_year_bir</key>
		<string>后过%lu岁生日</string>
		<key>str_bir_day</key>
		<string>天</string>
		<key>remid_time</key>
		<string>提醒时间</string>
		<key>remid_three_set</key>
		<string>您可以设置3个提醒</string>
		<key>not_remids</key>
		<string>不提醒</string>
		<key>remids_curr_day</key>
		<string>当天</string>
		<key>ahead_one_day</key>
		<string>提前一天</string>
		<key>ahead_two_day</key>
		<string>提前两天</string>
		<key>ahead_three_day</key>
		<string>提前三天</string>
		<key>ahead_seven_day</key>
		<string>提前七天</string>
		<key>remid_time_k</key>
		<string>提醒时刻</string>
		<key>remid_max_three</key>
		<string>最多能选择3个提醒</string>
		<key>edit_remid</key>
		<string>编辑提醒</string>
		<key>str_birthday</key>
		<string>生日</string>
		<key>str_remid_set</key>
		<string>提醒设置</string>
		<key>str_saveto_contact</key>
		<string>存为已有联系人</string>
		<key>str_create_contact</key>
		<string>创建联系人</string>
		<key>str_star</key>
		<string>星座</string>
		<key>label_toast</key>
		<string>不能输入标点等字符</string>
		<key>network_title</key>
		<string>未能连接到网络，请检查网络设置</string>
		<key>group_not_create</key>
		<string>该分组还未创建</string>
		<key>had_add</key>
		<string>已添加</string>
		<key>bir_t_alert</key>
		<string>确认要删除该生日提醒?</string>
		<key>users_regester</key>
		<string>注册用户</string>
		<key>firend_os_firends</key>
		<string>好友的好友</string>
		<key>click_show_all</key>
		<string>点击查看联系人更多信息</string>
		<key>firend_to_s</key>
		<string>好友驾到</string>
		<key>contact_sec1</key>
		<string>你有新的好友注册啦，打个招呼吧~</string>
		<key>you_ta_sfriend</key>
		<string>你和ta的共同好友</string>
		<key>label_length_max</key>
		<string>标签长度不能超过10个字</string>
		<key>out_group_add</key>
		<string>群组数量不能超过%ld个</string>
		<key>invite_success</key>
		<string>邀请发送成功</string>
		<key>unknow_area</key>
		<string>未知地区</string>
		<key>contact_Type_Regiser</key>
		<string>注册用户</string>
		<key>contact_Type_All</key>
		<string>全部用户</string>
		<key>more_info</key>
		<string>更多资料</string>
		<key>all_select</key>
		<string>全选</string>
		<key>all_not_select</key>
		<string>取消全选</string>
		<key>group_name_repeat</key>
		<string>分组名重复</string>
		<key>phone_ofen</key>
		<string>该号码最近常用</string>
		<key>phone_noOfen</key>
		<string>该号码不常使用</string>
		<key>phone_noData</key>
		<string>该号码暂无数据</string>
		<key>more_dynamic</key>
		<string>更多动态</string>
		<key>string_fax</key>
		<string>传真</string>
		<key>string_com_address</key>
		<string>网址</string>
		<key>can_not_see_more_info</key>
		<string>资料完善度不足%@,暂时不能查看好友更多资料</string>
		<key>see_to_perfect</key>
		<string>完善您的资料后可见</string>
		<key>out_group_message_count</key>
		<string>您选择的人数较多，需要分成%ld次发送，首次发送后请回到选择成员界面继续发送。</string>
		<key>had_no_send_text</key>
		<string>短信群发已完成%ld/%ld，继续发送</string>
		<key>msg_all_send_success</key>
		<string>短信已全部发送成功</string>
		<key>not_find_tel</key>
		<string>没有找到有效的手机号码</string>
		<key>has_not_send_message</key>
		<string>当前有群发短信未完成</string>
	</dict>
	<key>MODEL_DISCOVER</key>
	<dict>
		<key>recv_catd_you</key>
		<string>没有收到递给你的名片,再试试吧</string>
		<key>string_circle</key>
		<string>我的好友圈</string>
		<key>string_filter</key>
		<string>筛选</string>
		<key>string_hello</key>
		<string>你好</string>
		<key>only_see_stranger</key>
		<string>只看陌生人</string>
		<key>show_all</key>
		<string>显示全部</string>
		<key>group_for_business_card</key>
		<string>群换名片</string>
		<key>received_card</key>
		<string>收到的名片</string>
		<key>clear_all</key>
		<string>清空</string>
		<key>position_empty</key>
		<string>职位信息未填写</string>
		<key>del_all_history_card</key>
		<string>是否删除全部历史接收到的名片?</string>
		<key>string_scan</key>
		<string>扫描二维码</string>
		<key>string_exploration</key>
		<string>探索</string>
		<key>group_select_explain</key>
		<string>选择下列联系人交换联系方式</string>
		<key>group_change_explain</key>
		<string>在商务环境中,大家可以通过输入同样的6个数字,来彼此交换电子名片</string>
		<key>leave_temporary</key>
		<string>直接退出</string>
		<key>leave_forever</key>
		<string>清除信息并退出</string>
		<key>people_nearby</key>
		<string>附近的人</string>
		<key>within_10_meters</key>
		<string>10米以内</string>
		<key>within_50_meters</key>
		<string>50米以内</string>
		<key>within_100_meters</key>
		<string>100米以内</string>
		<key>within_more_meters</key>
		<string>%d米内</string>
		<key>within_kilometers</key>
		<string>%d.%d公里内</string>
		<key>within_more_kilometers</key>
		<string>%d公里内</string>
		<key>minutes_ago</key>
		<string>%d分钟前</string>
		<key>hours_ago</key>
		<string>%d小时前</string>
		<key>within_15_minutes</key>
		<string>15分钟内</string>
		<key>within_1_hours</key>
		<string>1小时内</string>
		<key>within_1_days</key>
		<string>1天内</string>
		<key>within_3_days</key>
		<string>3天内</string>
		<key>clear_and_logout</key>
		<string>清除位置并退出</string>
		<key>touch_scan</key>
		<string>轻触继续扫描</string>
		<key>not_find_QR</key>
		<string>未发现二维码</string>
		<key>scan_explain</key>
		<string>将二维码放入框即可自动扫描</string>
		<key>send_card</key>
		<string>递名片</string>
		<key>send_card_explain</key>
		<string>将名片滑出,递名片给附近好友</string>
		<key>stop_search</key>
		<string>停止搜索</string>
		<key>no_body_explain</key>
		<string>啊哦,没有发现同时递名片的朋友</string>
		<key>try_again</key>
		<string>点击再试一次吧</string>
		<key>find_body_explain</key>
		<string>找到以下几张名片,点击加为好友吧</string>
		<key>string_upload</key>
		<string>上传</string>
		<key>string_merge</key>
		<string>合并</string>
		<key>string_cover</key>
		<string>覆盖</string>
		<key>synchronous_contact</key>
		<string>同步联系人</string>
		<key>synchronous_merge</key>
		<string>同步合并中...</string>
		<key>synchronous_explain</key>
		<string>请确保已打开联系人权限,同步过程中请勿进行其他操作</string>
		<key>upload_explain</key>
		<string>确定上传您的联系人到卓越通讯录吗？</string>
		<key>merge_explain</key>
		<string>确定要将卓越通讯录联系人与手机合并吗？</string>
		<key>cover_explain</key>
		<string>确定要将卓越通讯录联系人覆盖到手机吗?本操作会删除手机原有联系人</string>
		<key>upload_done</key>
		<string>上传完成</string>
		<key>uploading_addressbook</key>
		<string>通讯录上传中...</string>
		<key>cover_done</key>
		<string>覆盖完成</string>
		<key>covering_addressbook</key>
		<string>通讯录覆盖中...%d/%ld</string>
		<key>merge_done</key>
		<string>合并完成</string>
		<key>merging_addressbook</key>
		<string>通讯录合并中...%d/%ld</string>
		<key>prevent_harass</key>
		<string>电话防骚扰</string>
		<key>synchronous</key>
		<string>同步中...</string>
		<key>synchronous_count</key>
		<string>同步中...%ld/%ld</string>
		<key>update_harass_library</key>
		<string>升级号码库,识别骚扰电话</string>
		<key>harass_library_has_update</key>
		<string>骚扰号码库有更新</string>
		<key>has_new_version</key>
		<string>有更新 %@</string>
		<key>newest_version</key>
		<string>已是最新版本 %@</string>
		<key>alert_close_harass1</key>
		<string>关闭骚扰功能</string>
		<key>alert_close_harass2</key>
		<string>打开时需重新下载骚扰号码库</string>
		<key>alert_open_harass1</key>
		<string>开启防骚扰功能</string>
		<key>alert_open_harass2</key>
		<string>并下载骚扰号码库</string>
		<key>conflict_contact</key>
		<string>冲突联系人</string>
		<key>conflict_explain</key>
		<string>以下手机通讯录联系人,您备注了多个电话,这些电话指向了多个注册用户或卓越通讯录通讯录联系人,请手动匹配</string>
		<key>safe_email</key>
		<string>安全邮箱</string>
		<key>repeat_contact</key>
		<string>重复联系人</string>
		<key>contact_doctor</key>
		<string>通讯录医生</string>
		<key>my_qr_code_card</key>
		<string>我的二维码名片</string>
		<key>began_experience</key>
		<string>开始体检</string>
		<key>had_bind_email</key>
		<string>已绑定</string>
		<key>my</key>
		<string>我</string>
		<key>had_bind</key>
		<string>[已绑定]</string>
		<key>no_bind_email</key>
		<string>未绑定</string>
		<key>no_conflict_contact</key>
		<string>无冲突联系人</string>
		<key>had_conflict_contact</key>
		<string>有%@个冲突联系人</string>
		<key>no_repeat_contact</key>
		<string>无重复联系人</string>
		<key>had_repeat_contact</key>
		<string>有%@个重复联系人</string>
		<key>selection_matching</key>
		<string>选择匹配</string>
		<key>matching_explain</key>
		<string>确认匹配当前注册用户并同步到设备通讯录吗?</string>
		<key>alert_first_check</key>
		<string>您还未进行通讯录体检
    是否现在体检？</string>
		<key>now_check</key>
		<string>现在体检</string>
		<key>alert_other_check</key>
		<string>您本次还未进行通讯录体检
请体检后查看最新体检结果</string>
		<key>alert_score_check</key>
		<string>上次体检结果%@分
是否重新体检？</string>
		<key>merge_info</key>
		<string>合并信息</string>
		<key>input_name</key>
		<string>请输入姓名</string>
		<key>arranging</key>
		<string>整理中...</string>
		<key>merge_header_explain</key>
		<string>以下是您设备通讯录中可能重复的联系人,你可以手动进行合并,合并后旧数据会被删除</string>
		<key>people_num</key>
		<string>%@人</string>
		<key>had_find_people</key>
		<string>已经找到%ld位好友</string>
		<key>keep_search</key>
		<string>继续搜索...</string>
		<key>intercept_harassment</key>
		<string>拦截骚扰电话</string>
		<key>protect_account</key>
		<string>保障账号安全</string>
		<key>arrangement_conflict</key>
		<string>使信息更准确</string>
		<key>arrangement_repeat</key>
		<string>合并重复数据</string>
		<key>has_open</key>
		<string>已开启</string>
		<key>no_open</key>
		<string>未开启</string>
		<key>has_add_prevent_num</key>
		<string>已识别%@个号码</string>
		<key>has_handle_person</key>
		<string>已处理%@人</string>
		<key>string_score</key>
		<string>分</string>
		<key>not_experience</key>
		<string>未体检</string>
		<key>re_experience</key>
		<string>重新体检</string>
		<key>health_score</key>
		<string>健康评分</string>
		<key>syn_upload_detail</key>
		<string>上传联系人至卓越通讯录进行储存备份</string>
		<key>merge_addressbook</key>
		<string>合并通讯录</string>
		<key>syn_merge_detail</key>
		<string>下载卓越通讯录联系人数据与手机合并</string>
		<key>cover_addressbook</key>
		<string>覆盖通讯录</string>
		<key>syn_cover_detail</key>
		<string>下载卓越通讯录联系人数据覆盖到手机</string>
		<key>upload_before_count</key>
		<string>原卓越通讯录联系人%ld人</string>
		<key>upload_now_count</key>
		<string>现卓越通讯录联系人%ld人</string>
		<key>merge_cover_before_count</key>
		<string>原设备通讯录联系人%ld人</string>
		<key>merge_cover_now_count</key>
		<string>现设备通讯录联系人%ld人</string>
		<key>last_upload_time</key>
		<string>最后上传时间：%@</string>
		<key>last_merge_time</key>
		<string>最后合并时间：%@</string>
		<key>last_cover_time</key>
		<string>最后覆盖时间：%@</string>
		<key>back_manage</key>
		<string>备份管理</string>
		<key>backup_tx</key>
		<string>备份提醒</string>
		<key>backup_attl1</key>
		<string>每两周提醒您备份通讯录数据</string>
		<key>backupstr</key>
		<string>备份</string>
		<key>backup_failed</key>
		<string>备份失败</string>
		<key>backup_resore</key>
		<string>还原</string>
		<key>backup_attl2</key>
		<string>将卓越通讯录联系人信息进行备份</string>
		<key>backup_attl3</key>
		<string>将卓越通讯录联系人信息还原至备份时的状态</string>
		<key>backup_frome_c</key>
		<string>最后备份时间：[@]%@[$]
当前联系人：[@]%@[$]     最后备份联系人：[@]%@[$]</string>
		<key>backuping_str</key>
		<string>备份中……</string>
		<key>restoreing_str</key>
		<string>还原中……</string>
		<key>backuping_frm</key>
		<string>您当前有[@]%@[$]个备份，最多可拥有[@]%d[$]个备份数据</string>
		<key>backuping_count</key>
		<string>最多可拥有[@]%d[$]个备份数据</string>
		<key>bakcup_max_bl</key>
		<string>您最多可拥有%d个备份，超过将只保留最近的%d个备份</string>
		<key>backup_all_str</key>
		<string>备份数已满</string>
		<key>backup_resum</key>
		<string>继续备份
</string>
		<key>backup_now_cnt</key>
		<string>本次备份操作：备份联系人%@人</string>
		<key>backup_success</key>
		<string>备份成功</string>
		<key>restore_success</key>
		<string>还原成功</string>
		<key>restrore_opercnt</key>
		<string>本次还原操作：还原联系人%lu人</string>
		<key>restrore_op_ok</key>
		<string>确认进行还原操作?</string>
		<key>restrore_contact_baok</key>
		<string>您的联系人信息将还原至所选的备份时的状态</string>
		<key>backup_time_str</key>
		<string>备份时间：%@</string>
		<key>bakcup_conts_str</key>
		<string>备份联系人：%@</string>
		<key>backup_select</key>
		<string>选择备份</string>
		<key>backup_ok_str</key>
		<string>确定备份联系人信息?</string>
		<key>detection</key>
		<string>检测中</string>
		<key>fail_qr_code</key>
		<string>无效的二维码</string>
		<key>discovery_circyle_nobody</key>
		<string>您还没有好圈，赶快去完善资料扩展好友圈吧！</string>
		<key>upload_fail_no_contact</key>
		<string>上传失败，您的手机通讯录没有联系人</string>
		<key>merge_fail_no_contact</key>
		<string>合并失败，您的卓越通讯录没有联系人</string>
		<key>cover_fail_no_contact</key>
		<string>覆盖失败，您的卓越通讯录没有联系人</string>
	</dict>
	<key>MODEL_ME</key>
	<dict>
		<key>my_dynamic</key>
		<string>我的动态</string>
		<key>my_visit</key>
		<string>我的访客</string>
		<key>privacy_setting</key>
		<string>隐私设置</string>
		<key>more_setting</key>
		<string>更多设置</string>
		<key>perfect_info</key>
		<string>个人资料未完善</string>
		<key>self_change_bind_tel</key>
		<string>您更改了绑定电话</string>
		<key>self_change_company</key>
		<string>您修改了公司信息</string>
		<key>self_change_position</key>
		<string>您修改了职位信息</string>
		<key>self_change_tel</key>
		<string>您修改了备注电话</string>
		<key>self_change_birthday</key>
		<string>您修改了生日</string>
		<key>self_change_education</key>
		<string>您修改了教育信息</string>
		<key>account_safe</key>
		<string>账号与安全</string>
		<key>mobile_number</key>
		<string>手机号</string>
		<key>binding_email</key>
		<string>绑定安全邮箱</string>
		<key>binding_QQ</key>
		<string>绑定QQ</string>
		<key>binding_WeChat</key>
		<string>绑定微信</string>
		<key>binding_weibo</key>
		<string>绑定微博</string>
		<key>change_password</key>
		<string>修改登录密码</string>
		<key>not_binding</key>
		<string>未绑定</string>
		<key>input_new_binding_tel</key>
		<string>填写新的绑定手机号</string>
		<key>change_bind_email</key>
		<string>更换绑定邮箱</string>
		<key>alert_input_email</key>
		<string>请输入邮箱地址</string>
		<key>binding_email_explain</key>
		<string>你可以使用已验证过的邮箱地址登录卓越通讯录,也可以用它来找回卓越通讯录登录密码</string>
		<key>alert_new_email_equal</key>
		<string>输入的邮箱地址与原地址相同,请重新输入</string>
		<key>string_binding_tel</key>
		<string>绑定手机号</string>
		<key>your_tel_number</key>
		<string>你的手机号:%@</string>
		<key>change_tel_number</key>
		<string>更换手机号</string>
		<key>change_zhuoyue_password</key>
		<string>更改卓越通讯录密码</string>
		<key>old_new_password_equal</key>
		<string>新密码与旧密码相同</string>
		<key>new_password_not_equal</key>
		<string>新密码输入不一致</string>
		<key>new_password_range</key>
		<string>新密码需要6-14位!</string>
		<key>password_change_success</key>
		<string>密码修改成功</string>
		<key>set_password</key>
		<string>设置密码</string>
		<key>set_password_explain</key>
		<string>请填写你以后的登录密码</string>
		<key>string_password</key>
		<string>密码</string>
		<key>string_confirm_password</key>
		<string>确认密码</string>
		<key>password_explain</key>
		<string>设置6-14位密码</string>
		<key>input_password_again</key>
		<string>再次输入密码</string>
		<key>input_identifying_code</key>
		<string>输入验证码</string>
		<key>alert_send_code_to_tel</key>
		<string>我们已发送验证码短信到这个号码</string>
		<key>alert_send_code_to_email</key>
		<string>我们已发送验证码到这个邮箱</string>
		<key>please_input_code</key>
		<string>请输入验证码</string>
		<key>reget_code</key>
		<string>(%d) 重新获取验证码</string>
		<key>string_submit</key>
		<string>提交</string>
		<key>change_bind_success</key>
		<string>更改绑定成功</string>
		<key>feed_back</key>
		<string>用户反馈</string>
		<key>feed_back_explain</key>
		<string>使用中遇到问题,可以在此提交,我们收到后会尽快处理</string>
		<key>feed_not_empty</key>
		<string>反馈内容不能为容</string>
		<key>feed_success</key>
		<string>反馈提交成功</string>
		<key>outnumber</key>
		<string>超过%d</string>
		<key>news_setting</key>
		<string>新消息通知</string>
		<key>give_praise</key>
		<string>给我好评</string>
		<key>about</key>
		<string>关于</string>
		<key>logout</key>
		<string>退出登录</string>
		<key>alert_logout</key>
		<string>确定退出卓越通讯录?</string>
		<key>about_explain</key>
		<string>扫描二维码,您的朋友就能下载使用%@</string>
		<key>function_explain</key>
		<string>功能介绍</string>
		<key>edit_something</key>
		<string>修改%@</string>
		<key>add_something</key>
		<string>新增%@</string>
		<key>must_input</key>
		<string>必填</string>
		<key>must_select</key>
		<string>必选</string>
		<key>string_area</key>
		<string>地区</string>
		<key>not_support_location</key>
		<string>该设备不支持定位服务</string>
		<key>location_not_open</key>
		<string>定位服务未开启</string>
		<key>had_select_area</key>
		<string>已选地区</string>
		<key>position_to_position</key>
		<string>定位到的位置</string>
		<key>string_all</key>
		<string>全部</string>
		<key>group_edit_input</key>
		<string>群名称</string>
		<key>string_address</key>
		<string>地址</string>
		<key>string_school</key>
		<string>学校</string>
		<key>string_professional</key>
		<string>专业</string>
		<key>edit_remak</key>
		<string>编辑备忘</string>
		<key>remark_email</key>
		<string>备注邮箱</string>
		<key>request_send</key>
		<string>发送申请</string>
		<key>send_add_friend_string</key>
		<string>换个名片,认识一下吧!</string>
		<key>send_add_explain</key>
		<string>您需要发送验证申请,等待对方通过</string>
		<key>string_can_not_input_out</key>
		<string>%@不能超过%d位</string>
		<key>name_can_not_input_out</key>
		<string>%@不能超过%ld个字</string>
		<key>content_not_change</key>
		<string>内容没有被修改</string>
		<key>name_can_not_contain</key>
		<string>不能同时包含汉字和字母</string>
		<key>email_format_illegal</key>
		<string>邮箱格式不合法</string>
		<key>mutst_in_number</key>
		<string>%@必须为不超过%ld位的纯数字</string>
		<key>name_only_is</key>
		<string>姓名不能同时包含汉字和字母</string>
		<key>live_info</key>
		<string>背景资料</string>
		<key>new_work_experience</key>
		<string>新增工作经历</string>
		<key>new_education_experience</key>
		<string>新增教育经历</string>
		<key>work_experience</key>
		<string>工作经历</string>
		<key>education_experience</key>
		<string>教育经历</string>
		<key>alert_del_experience</key>
		<string>是否删除本条经历</string>
		<key>alert_work_experience_max</key>
		<string>工作经历最多只能录入%ld个</string>
		<key>alert_edu_experience_max</key>
		<string>教育经历最多只能录入%ld个</string>
		<key>manage_label</key>
		<string>管理标签</string>
		<key>create_label</key>
		<string>创建了标签</string>
		<key>click_label</key>
		<string>认可了你的标签</string>
		<key>alert_select_click</key>
		<string>选中标签进行删除,最多一次选择%d个</string>
		<key>alert_del_label</key>
		<string>当前有%ld个白色的标签将会被删除,您确定吗?</string>
		<key>to_be_perfect</key>
		<string>待完善</string>
		<key>my_info</key>
		<string>我的资料</string>
		<key>my_QR_code</key>
		<string>我的二维码</string>
		<key>tel_list</key>
		<string>电话列表</string>
		<key>remark_new_tel</key>
		<string>备注新的电话</string>
		<key>register_tel</key>
		<string>注册号码</string>
		<key>my_remark_tel</key>
		<string>我备注的号码</string>
		<key>select_work_experience</key>
		<string>选择工作经历</string>
		<key>string_voice</key>
		<string>声音</string>
		<key>string_vibrate</key>
		<string>震动</string>
		<key>news_setting_explain</key>
		<string>当卓越通讯录有新消息时,你可以设置是否需要声音或震动</string>
		<key>set_group_authority</key>
		<string>设置分组权限</string>
		<key>this_group_can_see_live</key>
		<string>这些组可以查看我的背景</string>
		<key>my_group</key>
		<string>我的分组</string>
		<key>my_QR_code_explain</key>
		<string>扫一扫上面的二维码图案,加我名片</string>
		<key>string_header</key>
		<string>头像</string>
		<key>label_manage</key>
		<string>标签管理</string>
		<key>contact_info</key>
		<string>联系方式</string>
		<key>live_change</key>
		<string>背景修改</string>
		<key>check_update</key>
		<string>检查更新</string>
		<key>string_time</key>
		<string>时间</string>
		<key>string_education</key>
		<string>学历</string>
		<key>string_profession</key>
		<string>院系/专业</string>
		<key>time_in_school</key>
		<string>在校时间</string>
		<key>equal_edu</key>
		<string>教育经历重复</string>
		<key>equal_job</key>
		<string>工作经历重复</string>
		<key>feed_input_out_max</key>
		<string>用户反馈超过了最大限制</string>
		<key>can_change</key>
		<string>[可更换]</string>
		<key>recom_use</key>
		<string>推荐使用</string>
		<key>select_live</key>
		<string>选择背景资料</string>
		<key>alert_change_bind_tel</key>
		<string>更换流程：
1.点击更换手机号码
2.输入手机号码，获取验证码
3.填写验证码提交验证，绑定成功</string>
		<key>merge_use_other_header</key>
		<string>使用另外一个重复联系人的头像</string>
		<key>no_conflict_text</key>
		<string>您的通讯录很健康，没有冲突的联系人</string>
		<key>no_repeat_text</key>
		<string>您的通讯录很健康，没有重复的联系人</string>
		<key>no_morethan_30</key>
		<string>%@不能超过30个字符</string>
		<key>info_score_1</key>
		<string>资料完善度%@,暂时不能查看好友更多资料</string>
		<key>info_score_2</key>
		<string>资料完善度%@,信息越完善越能找到更多好友</string>
		<key>info_score_3</key>
		<string>恭喜你,您的资料完善度达到了%@</string>
		<key>to_be_required</key>
		<string>必填</string>
		<key>string_comAddres</key>
		<string>网址</string>
		<key>string_comFax</key>
		<string>传真</string>
	</dict>
	<key>MODEL_OTHER</key>
	<dict>
		<key>message</key>
		<string>消息</string>
		<key>contact</key>
		<string>通讯录</string>
		<key>discover</key>
		<string>探索</string>
		<key>myself</key>
		<string>我</string>
		<key>couttyr</key>
		<string>国家和地区</string>
		<key>china</key>
		<string>中国</string>
		<key>inputtelcard</key>
		<string>输入电话加名片</string>
		<key>inputnametel</key>
		<string>输入联系人的姓名和电话</string>
		<key>selmarch</key>
		<string>选择匹配</string>
		<key>selmerger</key>
		<string>选择合并</string>
		<key>clear_char</key>
		<string>清空聊天记录</string>
		<key>not_persion</key>
		<string>没有更多推荐的人，看看附近的人吧</string>
		<key>emtty_p</key>
		<string>您的通讯录为空，请先上传通讯录再做分析统计吧</string>
		<key>cir_not_add</key>
		<string>还没有加入圈子，请填写背景资料</string>
		<key>date_y_m_d</key>
		<string>yyyy年MM月dd</string>
		<key>date_h_m</key>
		<string>HH:mm</string>
		<key>date_m_h_m</key>
		<string>MM月dd HH:mm</string>
		<key>cancel</key>
		<string>取消</string>
		<key>remind</key>
		<string>提醒</string>
		<key>ok</key>
		<string>确定</string>
		<key>new</key>
		<string>新建</string>
		<key>add</key>
		<string>添加</string>
		<key>alert_location</key>
		<string>设备没有开启定位服务,请到设置-&gt;定位中开启</string>
		<key>today</key>
		<string>今天</string>
		<key>yesterday</key>
		<string>昨天</string>
		<key>tomorrow</key>
		<string>明天</string>
		<key>years_ago</key>
		<string>%d年前</string>
		<key>months_ago</key>
		<string>%d个月前</string>
		<key>days_ago</key>
		<string>%d天前</string>
		<key>to_this_day</key>
		<string>至今</string>
		<key>button_del</key>
		<string>删除</string>
		<key>button_add</key>
		<string>添加</string>
		<key>button_change</key>
		<string>修改</string>
		<key>button_back</key>
		<string>返回</string>
		<key>phone</key>
		<string>手机</string>
		<key>button_save</key>
		<string>保存</string>
		<key>share</key>
		<string>分享</string>
		<key>telephone</key>
		<string>电话</string>
		<key>email</key>
		<string>邮箱</string>
		<key>weixin_friend</key>
		<string>微信好友</string>
		<key>string_message</key>
		<string>短信</string>
		<key>zhuoyue_friend</key>
		<string>卓越好友</string>
		<key>string_name</key>
		<string>姓名</string>
		<key>string_company</key>
		<string>公司</string>
		<key>string_position</key>
		<string>职位</string>
		<key>string_camera</key>
		<string>拍照</string>
		<key>string_by_photo</key>
		<string>从手机相册中选择</string>
		<key>uploading</key>
		<string>正在上传</string>
		<key>save_photo</key>
		<string>保存图片</string>
		<key>send_to_firend</key>
		<string>发送给朋友</string>
		<key>string_weixin</key>
		<string>微信</string>
		<key>change_header</key>
		<string>更换头像</string>
		<key>string_label</key>
		<string>标签</string>
		<key>string_live</key>
		<string>背景</string>
		<key>string_remark</key>
		<string>备忘</string>
		<key>invite_message</key>
		<string>嗨,%@,跟我们一起来用卓越通讯录吧!联系你们特别方便~</string>
		<key>save_this_edit</key>
		<string>是否保存本次编辑</string>
		<key>button_not_save</key>
		<string>不保存</string>
		<key>tel_number</key>
		<string>电话号码</string>
		<key>string_done</key>
		<string>完成</string>
		<key>alert_input_tel</key>
		<string>请输入手机号</string>
		<key>content_empty</key>
		<string>目前还没有内容哟</string>
		<key>search_no_empty</key>
		<string>搜索无结果</string>
		<key>loading</key>
		<string>加载中...</string>
		<key>string_photo</key>
		<string>相册</string>
		<key>button_close</key>
		<string>关闭</string>
		<key>serve_explain</key>
		<string>服务协议及隐私说明</string>
		<key>about_secret_desc</key>
		<string>用户协议</string>
		<key>master_index</key>
		<string>达人指数</string>
		<key>share_by</key>
		<string>通过以下方式分享</string>
		<key>circle_of_friends</key>
		<string>朋友圈</string>
		<key>master_share_explain</key>
		<string>真实姓名,真实号码,我们只提供真正的好友信息</string>
		<key>simulatr_not_supported</key>
		<string>模拟器不支持</string>
		<key>string_good</key>
		<string>好</string>
		<key>save_failed</key>
		<string>保存失败</string>
		<key>save_success</key>
		<string>保存成功</string>
		<key>string_sex</key>
		<string>性别</string>
		<key>string_man</key>
		<string>男</string>
		<key>string_woman</key>
		<string>女</string>
		<key>string_call</key>
		<string>拨打</string>
		<key>no_name</key>
		<string>(无姓名)</string>
		<key>no_tel</key>
		<string>(无号码)</string>
		<key>now_loading</key>
		<string>正在加载</string>
		<key>show_years</key>
		<string>显示年份</string>
		<key>ignore_years</key>
		<string>隐藏年份</string>
		<key>str_lunar_calendar</key>
		<string>农历</string>
		<key>str_gregorian_calendar</key>
		<string>公历</string>
		<key>no_find_network</key>
		<string>未能连接到互联网</string>
		<key>network_explain1</key>
		<string>您的设备未启用移动网络或Wi-Fi网络</string>
		<key>network_explain2</key>
		<string>如需要连接到互联网，可以参考以下几点：</string>
		<key>network_explain2_1</key>
		<string>检查手机中的无线局域网设置，查看是否有可接入的无线局域网信号。</string>
		<key>network_explain2_2</key>
		<string>检查手机是否已接入移动网络，并且手机没有被停机。</string>
		<key>network_explain3</key>
		<string>如果您已接入无线局域网:</string>
		<key>network_explain3_1</key>
		<string>请检查您所连接的无线局域网热点是否已接入互联网，或该热点是否已允许您的设备访问互联网。</string>
		<key>network_title</key>
		<string>网络无法连接</string>
		<key>down_failed</key>
		<string>下载失败</string>
		<key>max_remark_tel_num</key>
		<string>您最多可为此联系人备注%ld个号码</string>
		<key>min_remark_tel_num</key>
		<string>联系人至少需要有一个电话号码</string>
		<key>upload_failed</key>
		<string>上传失败</string>
		<key>app_down_string</key>
		<string>%@的下载地址:%@</string>
		<key>net_NotReachable</key>
		<string>未连接</string>
		<key>network_timeout</key>
		<string>连接超时，请检查您的网络</string>
		<key>wxIsNotInstall</key>
		<string>尚未安装微信客户端!无法进行授权!
</string>
		<key>changeName_toast</key>
		<string>每30天可修改一次姓名</string>
	</dict>
	<key>MODEL_LOGIN</key>
	<dict>
		<key>register_by_mobile</key>
		<string>使用手机号码注册</string>
		<key>register_explain</key>
		<string>为了给您提供更加真实准确的服务，以方便您找到失联已久的朋友，所以我们需要获取您的真实号码和真实姓名。</string>
		<key>register_explain1</key>
		<string>一经注册则代表您已同意</string>
		<key>app_clause</key>
		<string>《卓越通讯录服务协议及隐私说明》</string>
		<key>input_tel_by_get_code</key>
		<string>请输入手机号获取验证码</string>
		<key>get_code</key>
		<string>获取验证码</string>
		<key>alert_new_tel_equal</key>
		<string>输入的新手机号码与原号码相同,请重新输入</string>
		<key>alert_send_code</key>
		<string>我们将发送验证码信息到这个号码:</string>
		<key>confirm_tel</key>
		<string>确认手机号码</string>
		<key>string_login</key>
		<string>登录</string>
		<key>string_register</key>
		<string>注册</string>
		<key>input_name_title</key>
		<string>填写姓名</string>
		<key>upload_header</key>
		<string>上传头像</string>
		<key>name_limit</key>
		<string>请填写%ld-%ld个汉字</string>
		<key>input_true_name</key>
		<string>请填写真实姓名</string>
		<key>input_name_explain1</key>
		<string>真实姓名,真实号码,我们只提供真正的好友信息</string>
		<key>input_name_explain2</key>
		<string>请务必使用真实姓名注册,以方便快速找到你的好友</string>
		<key>true_name</key>
		<string>真实姓名</string>
		<key>string_next</key>
		<string>下一步</string>
		<key>select_sex</key>
		<string>请选择性别</string>
		<key>name_is_only</key>
		<string>姓名只能是汉字</string>
		<key>alert_submit_name</key>
		<string>真实姓名和性别提交后不可修改,请谨慎填写</string>
		<key>login_by_email</key>
		<string>使用邮箱登录</string>
		<key>input_account</key>
		<string>请填写账号</string>
		<key>input_password</key>
		<string>请填写密码</string>
		<key>login_encounter_problem</key>
		<string>登录遇到问题?</string>
		<key>get_back_by_tel</key>
		<string>通过手机短信找回密码</string>
		<key>get_back_by_email</key>
		<string>通过安全邮箱找回密码</string>
		<key>use_back_by_tel</key>
		<string>使用手机短信找回密码</string>
		<key>use_back_by_email</key>
		<string>使用安全邮箱找回密码</string>
		<key>login_by_tel</key>
		<string>输入账号登录</string>
		<key>login_to_email</key>
		<string>改用邮箱登录</string>
		<key>change_account</key>
		<string>切换账号</string>
		<key>input_tel_number</key>
		<string>请填写手机号码</string>
		<key>input_email</key>
		<string>请填写安全邮箱</string>
		<key>select_country</key>
		<string>选择国家</string>
		<key>upload_addressbook</key>
		<string>上传通讯录</string>
		<key>upload_register_explain1</key>
		<string>将给你带来更多的好友,请确保已打开联系人权限</string>
		<key>upload_register_explain2</key>
		<string>上传通讯录仅用于计算好友关系并严格保密</string>
		<key>import_now</key>
		<string>立即导入</string>
		<key>processing</key>
		<string>正在处理...(%d/%ld)</string>
		<key>synchronous_done</key>
		<string>同步完成</string>
		<key>login_chat_fail</key>
		<string>聊天登录失败,是否重新登录</string>
		<key>had_send_to</key>
		<string>验证码已发送到指定</string>
		<key>input_new_password</key>
		<string>请填写新密码%ld-%ld位</string>
		<key>login_state_lose</key>
		<string>登录状态已失效,请重新登录</string>
		<key>logining</key>
		<string>登录中...</string>
		<key>please_set_bir</key>
		<string>请先设置生日!</string>
		<key>please_set_time</key>
		<string>请先设置提醒时间!</string>
		<key>view_moring</key>
		<string>查看更多</string>
		<key>quick_regist_third</key>
		<string>社交账号快速注册</string>
		<key>quick_login_third</key>
		<string>社交账号快速登录</string>
		<key>upload_first_alert</key>
		<string>首次帮您整理通讯录，您的联系人比较多
需要一点时间，请耐心等待</string>
		<key>string_middle</key>
		<string>中</string>
		<key>account_placeHolder</key>
		<string>手机号码/邮箱地址</string>
		<key>registerAccount</key>
		<string>注册帐号</string>
	</dict>
</dict>
</plist>
